body {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    z-index: 2;
    position: relative;
}


header {
    background-image: url("https://i.postimg.cc/k5QJThVS/pexels-polina-kovaleva-5546893.jpg");
    height: 700px;
    width: 100%;
    background-size: cover;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #000;
        opacity: 0.3;
    }
    
    a.logo {
        line-height: 70.5px;
        font-size: 25px;
        color: gold;
        font-family: "Great Vibes", cursive;
        font-style: italic;
        font-weight: bold;
        letter-spacing: 2px;
    }

    ul {
        display: flex;
        list-style: none;
        color: #fff;
        text-transform: uppercase;
        font-size: 14px;
    }
    
    li {
        padding: 10px;

        a {
            text-decoration: none;
            color: #fff;
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            padding-left: 15px;
        }
    }


    .container {
        text-align: center;
        margin-top: 200px;
        color:#fff;
        z-index: 2;
        position: relative;
    }

    h3 {
        font-size: 40px;
        margin-bottom: 0;
        font-weight: 100;
        font-style: italic;
    }
    
    h1 {
        font-size: 70px;
        margin-top: 18px;
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }
    
    button {
        background-color: gold;
        font-size: 17px;
        // padding: 10px 50px;
        border-radius: 3px;
        border: none;
        color:#fff;
        height: 60px;
        width: 230px;
        box-shadow: 1px 2px 1px grey;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        letter-spacing: 1px;
    }
}

section {
    padding-top: 100px;
    padding-bottom: 80px;

    .section-title {
        text-align: center;
        padding-bottom: 60px;
    }

    .section-title h1 {
        font-size: 38px;
        margin: 10px;
        text-transform: uppercase;
        font-family: "Roboto", sans-serif;
        letter-spacing: 1px;
        font-weight: 900;
    }

    .section-title p {
        font-size: 18px;
        font-style: italic;
        color: gray;
        margin-top: 10px;
    }
}

.services {
    background-color: #fff;

    .row {
        justify-content: center;
    }

    .services-item {
        text-align: center;

        i {
            font-size: 35px;
            color: gold;
            border: 3px solid gold;
            border-radius: 50%;
            width: 70px;
            height: 70px;
            text-align: center;
            line-height: 60px;
        }

        h3 {
            font-family: "Roboto", sans-serif;
            font-size: 18px;
            letter-spacing: 0.5px;
            font-weight: 700;
        }

        p {
            font-size: 15px;
            text-align: center;
            color: gray;
        }
    }
}

.portfolio {
    background-color: #f7f7f7;
    padding-bottom: 90px;

    .portfolio-items {
        justify-content: center;
        text-align: center;
    }

    .portfolio-items div {
        background-color: #fff;
        padding: 0;
        margin: 15px;
    }

    .portfolio-items img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        
    }

    .portfolio-items h3 {
        font-size: 18px;
        margin-bottom: 4px;
        font-family: "Roboto", sans-serif;
    }

    .portfolio-items p {
        font-size: 15px;
        font-style: italic;
        color: gray;
        margin-top: 0;
    }
}

footer {
    background-color: #fff;
    padding: 25px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: gray;

    .row {
        justify-content: center;

        div {
            margin: 0 20px;
        }

        .icon {
            text-align: center;
            line-height: 50px;
        }

        .icon i {
            background-color: #000;
            color: #fff;
            font-size: 20px;
            padding: 12px;
            border-radius: 50%;
            margin: 3px;
            cursor: pointer;
        }
    }
}